<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
  
<head th:replace = "common/head.html :: head">

</head>

<body>

<div th:replace = "common/header.html :: header">
</div>

<div th:replace = "common/sidebar.html :: sidebar">
</div>

  <!-- Main content -->
    <main id="main" class="main">
        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
					    <h5 class="card-title">Danh sách hóa đơn</h5>
					    <a th:href="@{/bill/create}" class="btn btn-success btn-sm d-flex align-items-center">
					        <i class="fas fa-plus me-2"></i> Thêm mới
					    </a>
					</div>

                <!-- Hiển thị thông báo lỗi -->
        		<div th:if="${error}" class="alert alert-danger" role="alert">
            		<p th:text="${error}"></p>
        		</div>

       	 		<!-- Hiển thị danh sách sân -->
        		<div class="table-responsive">
            		<table class="table table-bordered table-hover">
                		<thead class="table-dark">
                    		<tr style="text-align: center;">
		                        <th scope="col">ID</th>
		                        <th scope="col">Mã hóa đơn</th>
		                        <th scope="col">Tên sân</th>
		                        <th scope="col">Tổng số tiền</th>
		                        <th scope="col">Nhân viên tạo đơn</th>
		                        <th scope="col">Hành động</th>
                    		</tr>
                		</thead>
                	<tbody>
	                    <tr th:each="bill : ${listBills}">
	                        <td style="text-align: center;" th:text="${bill.billId}"></td>
	                        <td style="text-align: center;" th:text="${bill.code}"></td>
	                        <td style="text-align: center;" th:text="${bill.courtName}"></td>
	                        <td style="text-align: center;" th:text="${bill.totalAmount}"></td>
	                        <td style="text-align: center;" th:text="${bill.employeeName}"></td>
	                        <td style="text-align: center;">
	                        	<!-- Nút Chi tiết -->
        						<a th:href="@{'/bill/detail/' + ${bill.billId}}" class="btn btn-primary btn-sm me-2" title="Chi tiết">
            						<i class="fas fa-file-alt"></i>
        						</a>
        						<!-- Nút Chỉnh sửa -->
	                            <a th:href="@{'/bill/edit/' + ${bill.billId}}" class="btn btn-warning btn-sm me-2" title="Chỉnh sửa">
								    <i class="fas fa-pencil-alt"></i>
								</a>
								<!-- Nút Xóa -->
								<form th:action="@{'/bill/delete/' + ${bill.billId}}" method="post" class="d-inline">
								    <button type="submit" class="btn btn-danger btn-sm" title="Xóa"
								         onclick="return confirm('Bạn có chắc chắn muốn xóa?');">
								         <i class="fas fa-trash-alt"></i>
								    </button>
								</form>
	                        </td>
	                    </tr>
                	</tbody>
            </table>
        </div>
                </div>
            </div>
        </div><!-- End Recent Sales -->

    </main><!-- End #main -->

  <div th:replace = "common/footer :: footer">
  </div>
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.min.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.min.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>