<!DOCTYPE html>
<html lang="en">

<head th:replace="common/head.html :: head">
   
</head>

<body>

    <div th:replace="common/header.html :: header">
    </div>

    <div th:replace="common/sidebar.html :: sidebar">
    </div>

    <!-- Main content -->
    <!-- Main content -->
    <main id="main" class="main">
        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                
                <div class="card-body">
                    <h5 class="card-title">Danh sách dịch vụ <span>| Today</span></h5>

                    <!-- Table showing service details -->
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên dịch vụ</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Loop over services and display each one -->
                            <tr th:each="item : ${services}">
                                <th scope="row"><a href="#" th:text="'#' + ${item.serviceId}"></a></th>
                                <td th:text="${item.serviceName}"></td>
                                <td th:text="${item.price}"></td>
                                <td>
                                    <span class="badge bg-success">Available</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- End Recent Sales -->

    </main><!-- End #main -->


    <div th:replace="common/footer :: footer">
    </div>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.min.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>